/* MIXINS */

$black-color: #000;
$gray-color: #bbb;
$white-color: #eee;
$teal-color: #00D5A3;
$tudu-gradient: linear-gradient(90deg, #032555, #00CFDD);
$border-radius: 12px;
$button-padding: 5px;
$small-font-size: .9rem;
$letter-spacing: 2px;

/* RESET */

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small, h3 {
  font-size: inherit;
  color: inherit;
  font-family: inherit;
  box-sizing: inherit;
  text-decoration: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}
body {
  font-family: 'open sans', sans-serif, 'helvetica';
}
ul {
  list-style: none;
}
img {
  display: block;
}

/* NAVBAR */

.navbar {
	z-index: 1;
  width: 100%;
  height: 1.1rem;
  color: #fff;
	position: absolute;
}
.auth-btns {
  float: right;
	font-weight: 700;
	margin: 20px;
	a {
		padding-left: 20px;
	}
}

/* JUMBOTRON */

.jumbotron {
  background: $tudu-gradient;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
	.title {
		position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translateY(-50%) translateX(-50%);
		color: $white-color;
		img {
			margin: 0 auto 20px;
		}
		h3 {
			font-size: 1.5rem;
			font-weight: 300;
			text-align: center;
			letter-spacing: 3px;
		}
	}
}

/* SIGN IN/UP */

.auth-form {
  position: absolute;
  top: 50%;
  left: 50%;
	z-index: 1;
  transform: translateY(-50%) translateX(-50%);
	input {
		background: $white-color;
    width: 18rem;
		padding: 10px 12px;
    letter-spacing: 1px;
	}
	input:first-of-type {
		border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
	}
	input:last-of-type {
		border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
		border-bottom: 1px solid $gray-color;
	}
	.auth-text {
		color: $gray-color;
		font-size: $small-font-size;
		display: block;
		margin: 10px 0;
	}
	button {
		color: $white-color;
		background: $teal-color;
    border-radius: $border-radius;
		margin: 36px auto 0;
    font-size: 1.2rem;
    font-weight: 300;
		padding: 10px 30px;
		letter-spacing: $letter-spacing;
		display: block;
		cursor: pointer;
	}
}

/* LIST INDEX */

.list-index {
  display: flex;
  flex-wrap: wrap;
}
.list-view {
  padding: 0 3px;
  flex-basis: 14%;
  margin-top: 5rem;
}
.todo-item {
  cursor: default;
  border-top: 1px solid $gray-color;
  padding: 4px 0;
}
.todo-item > a {
  padding-right: 10px;
}
.todo-item:hover,
.done {
  text-decoration: line-through;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
