/* MIXINS */
/* RESET */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small, h3 {
  font-size: inherit;
  color: inherit;
  font-family: inherit;
  box-sizing: inherit;
  text-decoration: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent; }

.group:after {
  content: "";
  display: block;
  clear: both; }

body {
  font-family: 'open sans', sans-serif, 'helvetica'; }

ul {
  list-style: none; }

img {
  display: block; }

/* NAVBAR */
.nav-overlay {
  z-index: 1;
  float: right;
  padding-top: 1px;
  font-weight: 700;
  color: #fefefe; }
  .nav-overlay a {
    margin-left: 20px; }

.app-logo {
  height: 25px;
  float: left; }

/* bg-overlay */
.bg-overlay {
  z-index: -1;
  background: linear-gradient(90deg, #032555, #00CFDD);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  padding: 20px; }

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  color: #fefefe; }
  .title img {
    margin: 0 auto 20px; }
  .title h3 {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    letter-spacing: 3px; }

/* SIGN IN/UP */
.auth-form {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translateY(-50%) translateX(-50%); }
  .auth-form input {
    background: #fefefe;
    width: 18rem;
    padding: 10px 12px;
    letter-spacing: 1px; }
  .auth-form input:first-of-type {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px; }
  .auth-form input:last-of-type {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom: 1px solid #bbb; }
  .auth-form .auth-text {
    color: #bbb;
    font-size: 0.9rem;
    display: block;
    margin: 10px 0; }
  .auth-form button {
    color: #fefefe;
    background: #00D5A3;
    border-radius: 12px;
    margin: 36px auto 0;
    font-size: 1.2rem;
    font-weight: 300;
    padding: 10px 30px;
    letter-spacing: 2px;
    display: block;
    cursor: pointer; }

/* LIST INDEX */
.bg-app {
  margin-top: 3.9rem;
  background: white;
  position: absolute;
  width: 100%;
  height: 100%; }

.list-index {
  margin: 3.9rem 20px 0; }

.nav-arrow {
  position: absolute;
  top: 2px;
  bottom: 0px;
  margin-top: 3.9rem; }

.nav-left {
  left: 0px;
  margin-left: 20px;
  padding-right: 20px; }

.nav-right {
  right: 0px;
  padding-left: 20px;
  margin-right: 20px;
  text-align: right; }
  .nav-right img {
    transform: rotate(180deg); }

.lists-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 60px;
  overflow: hidden; }

.list-view {
  float: left;
  display: inline;
  position: relative;
  width: 20%;
  border-right: 1px solid #e2e2e2; }

.list-name {
  cursor: default;
  margin: 0 8px 2rem; }
  .list-name h1 {
    text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase; }
  .list-name input {
    margin: 1px 0 4px; }

.delete-list {
  display: none;
  position: absolute;
  right: 9px;
  top: 8px;
  width: 13px;
  height: 13px;
  z-index: 1;
  background-color: #D30000;
  -webkit-mask-image: url("../images/x.svg");
  mask-image: url("../images/x.svg"); }

.list-name:hover .delete-list {
  display: block; }

.list-todos {
  margin: 0 10px; }

.todo-item {
  cursor: default;
  border-bottom: 1px solid #e2e2e2;
  padding: 8px 0;
  position: relative;
  height: 22px;
  overflow: hidden;
  font-size: .8rem; }

.todo-form {
  font-size: .8rem;
  width: 100%; }

.todo-item:hover {
  color: #6B6B6B; }
  .todo-item:hover .edit-todo {
    display: block; }

.edit-todo {
  display: none;
  float: right;
  width: 20px;
  height: 25px;
  margin: -1px -3px;
  background-color: #6B6B6B;
  -webkit-mask-image: url("../images/pencil.svg");
  mask-image: url("../images/pencil.svg"); }

.delete-todo {
  display: none;
  float: right;
  width: 13px;
  height: 12px;
  margin: 2px -1px;
  background-color: #D30000;
  -webkit-mask-image: url("../images/xsm.svg");
  mask-image: url("../images/xsm.svg"); }

.done {
  text-decoration: line-through; }

.done:hover .delete-todo {
  display: block; }
.done:hover .edit-todo {
  display: none; }

/*# sourceMappingURL=main.css.map */
