red-color = #f00
black-color = #000
gray-color = #bbb

/* RESET */
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small
  font-size inherit
  color inherit
  font-family inherit
  box-sizing inherit
  text-decoration inherit
  margin 0
  padding 0
  border 0
  background transparent

body
	font-family 'arial'

ul
  list-style none


img
  display block

/* NAVBAR */

.navbar
	width auto
	height 1.1rem
	padding 15px
	color #fff
	background linear-gradient(180deg, #032555, #096cf6)

.auth-btns
	float right

/* SIGN IN/UP */
.auth-form
  position absolute
  width 20rem
  top 50%
  left 50%
  transform translateY(-50%) translateX(-50%)
  padding 20px
  border 1px solid black-color
  border-radius 8px

/* LIST INDEX */

.list-index
	display flex
	flex-wrap wrap

.list-view
	padding 0 3px
	flex-basis 14%
	margin-top 5rem

.todo-item
	cursor default
	border-top 1px solid gray-color
	padding 4px 0



.todo-item > a
	padding-right 10px

.todo-item:hover, .done
	text-decoration line-through
